.url{
   flex: 1;
    
}
.context {
    overflow: hidden;
    box-sizing: border-box;
}
.url img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.context .context_header {
    height: 36px;
}